/*--------------------------------------------------------------
# FontAwesome
--------------------------------------------------------------*/
blockquote:before,.back-topnbt:before,.dropdown-togglenbt:before,.main-navigationnbt .menu-item-has-children > a:after,.menu-togglenbt:before,.search-formnbt:before,.search-togglenbt:before,.sidebar-togglenbt:before,.social-navigationnbt a:before{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;display:inline-block;font-family:FontAwesome;font-size:24px;font-style:normal;font-weight:normal;height:30px;line-height:1.25;speak:none;text-decoration:inherit;vertical-align:top;width:30px;}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,button,input,select,textarea{color:#222;font-family:"PT Serif",serif;font-size:16px;}
body{line-height:1.6;}
button,input,select,textarea{line-height:1.875;}
h1,h2,h3,h4,h5,h6{clear:both;font-family:"Playfair Display",serif;font-weight:bold;margin-top:0;}
h1{font-size:49px;line-height:1.225;margin-bottom:30px;}
h2{font-size:39px;line-height:1.54;margin-bottom:30px;}
h3{font-size:31px;line-height:1.452;margin-bottom:30px;}
h4{font-size:25px;line-height:1.2;margin-bottom:30px;}
h5{font-size:20px;line-height:1.5;margin-bottom:30px;}
h6{font-size:16px;line-height:1.5;margin-bottom:30px;}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{font-weight:inherit;}
p{margin-top:0;margin-bottom:30px;}
dfn,cite,em,i{font-style:italic;}
cite{font-weight:bold;}
blockquote:before,blockquote:after,q:before,q:after{content:"";}
blockquote,q{quotes:"" "";}
blockquote{color:#555;font-style:italic;margin:0 0 30px;padding:0;position:relative;}
blockquote:before{color:#ddd;content:"\f10d";float:left;}
blockquote *{margin-bottom:0;}
blockquote blockquote{margin-left:30px;margin-top:30px;}
blockquote cite{font-style:normal;}
address{margin:0 0 30px;}
code,kbd,pre,tt,var{font-family:Inconsolata,monospace;}
pre{background:#eee;border-left:2px solid #d11415;max-width:100%;overflow:auto;padding:30px;}
abbr,acronym{border-bottom:1px dotted #222;cursor:help;}
mark,ins{background:#d11415;color:#fff;padding:0 0.2em;text-decoration:none;}
big{font-size:125%;}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html{box-sizing:border-box;}
*,*:before,*:after{box-sizing:inherit;}
body{background:#fff;}
hr{background-color:#ddd;border:0;height:1px;margin-bottom:30px;}
ul,ol{margin:0 0 30px 0;padding:0;}
ul{list-style:square inside;}
ol{list-style:decimal inside;}
li > ul,li > ol{margin-bottom:0;margin-left:30px;}
dl{margin:0;}
dt{font-weight:bold;}
dd{margin:0 0 30px;}
img{height:auto;max-width:100%;}
table{border-top:1px solid #ddd;margin:0 0 30px;text-align:left;width:100%;}
caption,th{font-family:Lato,sans-serif;font-weight:bold;text-transform:uppercase;}
caption{color:#777;}
th,td{border-bottom:1px solid #ddd;padding:5px;}
thead{background:#eee;}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,input[type="button"],input[type="reset"],input[type="submit"]{background:#d11415;border:2px solid #d11415;color:#fff;font-family:Lato,sans-serif;font-weight:bold;padding:5.5px 13px;text-transform:uppercase;}
button:active,input[type="button"]:active,input[type="reset"]:active,input[type="submit"]:active,button:focus,input[type="button"]:focus,input[type="reset"]:focus,input[type="submit"]:focus,button:hover,input[type="button"]:hover,input[type="reset"]:hover,input[type="submit"]:hover{background:#fff;color:#d11415;outline:none;}
input[type="text"],input[type="email"],input[type="url"],input[type="password"],input[type="search"],textarea{-webkit-appearance:none;background:#fff;border:1px solid #ddd;border-radius:0;box-sizing:border-box;padding:6.5px;width:100%;}
input[type="text"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="password"]:focus,input[type="search"]:focus,textarea:focus{box-shadow:inset 0 0 15px rgba(0,0,0,0.075);outline:none;}

/* Placeholder */
::input-placeholder{color:#777;}
::-webkit-input-placeholder{color:#777;}
:-moz-placeholder{color:#777;opacity:1;}
::-moz-placeholder{color:#777;opacity:1;}
:-ms-input-placeholder{color:#777;}
.search-formnbt{margin-bottom:30px;position:relative;}
.search-formnbt:before{background:#fff;border-radius:50%;color:#d11415;content:"\f002";font-size:16px;height:28px;line-height:28px;position:absolute;right:8.5px;top:8.5px;text-align:center;width:28px;}
.search-formnbt.hover:before{background:#eee;}
.search-formnbt .search-fieldnbt{padding-right:45px;}
.search-formnbt .search-submitnbt{background:transparent;border:1px solid #ddd;border-radius:50%;color:transparent;display:block;height:30px;overflow:hidden;padding:0;position:absolute;right:7.5px;top:7.5px;width:30px;z-index:2;}
.search-formnbt .search-submitnbt:active,.search-formnbt .search-submitnbt:focus,.search-formnbt .search-submitnbt:hover{background:transparent;border-color:#ddd;color:transparent;}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a{color:#d11415;font-weight:bold;text-decoration:none;}
a:active,a:focus,a:hover{color:inherit;outline:none;}
a:focus{outline:2px solid #ddd;}
a:visited{font-weight:normal;}

/*--------------------------------------------------------------
## Primary Menu
--------------------------------------------------------------*/
/* Menu Toggle */
.menu-togglenbt{background:#fff;border:1px solid #ddd;border-radius:50%;color:#222;height:45px;margin-top:-22.5px;padding:0;position:absolute;right:0;top:50%;width:45px;z-index:2;}
.menu-togglenbt:active,.menu-togglenbt:focus,.menu-togglenbt:hover{background:#eee;border-color:#ddd;color:#d11415;}
.menu-togglenbt:before{content:"\f0c9";font-size:12px;height:43px;line-height:43px;width:43px;}
.togglednbt .menu-togglenbt{background:#222;border-color:#222;color:#fff;}
.togglednbt .menu-togglenbt:active,.togglednbt .menu-togglenbt:focus,.togglednbt .menu-togglenbt:hover{background:#444;border-color:#444;}
.togglednbt .menu-togglenbt:before{content:"\f00d";}

/* Dropdown Toggle */
.dropdown-togglenbt{background:#fff;border:1px solid #ddd;border-radius:50%;color:#d11415;height:30px;margin-top:-15px;padding:0;position:absolute;right:0;top:50%;width:30px;z-index:1;}
.dropdown-togglenbt:active,.dropdown-togglenbt:focus,.dropdown-togglenbt:hover{background:#eee;border-color:#ddd;color:#d11415;}
.dropdown-togglenbt:before{content:"\f078";font-size:16px;height:28px;line-height:28px;width:28px;}
.dropdown-togglenbt.togglednbt:before{content:"\f077";}

/* Main Navigation */
.main-navigationnbt{font-size:16px;line-height:1.875;margin:0;z-index:2;}
.main-navigationnbt > div{display:none;}
.main-navigationnbt.togglednbt > div{background:#222;box-shadow:0 5px 15px rgba(0,0,0,0.075);display:block;position:absolute;top:100%;margin-top:8px;padding:7.5px;width:100%;left:0;z-index:9998;}
.main-navigationnbt.togglednbt > div:before{border-bottom:6px solid #222;border-left:6px solid transparent;border-right:6px solid transparent;top:-6px;content:"";display:block;right:16.5px;position:absolute;}
.main-navigationnbt > div > ul{background:#fff;border:1px solid #ddd;padding:30px;position:relative;}
.main-navigationnbt > div > ul > li:last-child{border-bottom:1px solid #eee;}
.main-navigationnbt ul{border-bottom:1px solid #eee;list-style:none;margin:0;padding-left:0;}
.main-navigationnbt li{border-top:1px solid #eee;padding-bottom:7.5px;padding-top:7.5px;position:relative;}
.main-navigationnbt ul ul{display:none;}
.main-navigationnbt ul.togglednbt{border-bottom:0;display:block;margin-bottom:-7.5px;margin-top:7.5px;padding-left:30px;}
.main-navigationnbt a{color:#222;display:block;text-decoration:none;}
.main-navigationnbt a:active,.main-navigationnbt a:focus,.main-navigationnbt a:hover{color:#d11415;}
.main-navigationnbt .page_item_has_children > a,.main-navigationnbt .menu-item-has-children > a{padding-right:45px;position:relative;}
.main-navigationnbt .current_page_item > a,.main-navigationnbt .current-menu-item > a,.main-navigationnbt .current_page_ancestor > a{color:#d11415;}

/*--------------------------------------------------------------
## Social Menu
--------------------------------------------------------------*/
.social-navigationnbt{background:#222;border-bottom:1px solid #444;display:block;padding:7.5px 0;text-align:center;overflow:hidden;}
.social-navigationnbt > div{display:block;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-justify-content:center;justify-content:center;}
.social-navigationnbt ul{display:block;margin:0;padding:0;}
.social-navigationnbt li{display:block;float:left;margin:0 5px;line-height:1;}
.social-navigationnbt.bottom-socialnbt li{float:none;display:inline-block;}
.social-navigationnbt li:first-child{margin-left:0;}
.social-navigationnbt li:last-child{margin-right:0;}
.social-navigationnbt a{display:block;position:relative;width:30px;height:30px;color:#ccc;}
.social-navigationnbt a:before{height:30px;font-size:24px;line-height:30px;width:30px;}
.social-navigationnbt a:active,.social-navigationnbt a:focus,.social-navigationnbt a:hover{color:#fff;}
.social-navigationnbt a:focus{outline-color:#555;}
.social-navigationnbt a:before{content:"\f1e0";}
.social-navigationnbt a[href*="codepen.io"]:before{content:"\f1cb";}
.social-navigationnbt a[href*="digg.com"]:before{content:"\f1a6";}
.social-navigationnbt a[href*="dribbble.com"]:before{content:"\f17d";}
.social-navigationnbt a[href*="dropbox.com"]:before{content:"\f16b";}
.social-navigationnbt a[href*="mailto:"]:before{content:"\f0e0";}
.social-navigationnbt a[href*="facebook.com"]:before{content:"\f09a";}
.social-navigationnbt a[href*="flickr.com"]:before{content:"\f16e";}
.social-navigationnbt a[href*="foursquare.com"]:before{content:"\f180";}
.social-navigationnbt a[href*="github.com"]:before{content:"\f09b";}
.social-navigationnbt a[href*="plus.google.com"]:before{content:"\f0d5";}
.social-navigationnbt a[href*="instagram.com"]:before{content:"\f16d";}
.social-navigationnbt a[href*="linkedin.com"]:before{content:"\f0e1";}
.social-navigationnbt a[href*="pinterest.com"]:before{content:"\f0d2";}
.social-navigationnbt a[href*="reddit.com"]:before{content:"\f1a1";}
.social-navigationnbt a[href$="/feeds/posts/default"]:before{content:"\f09e";}
.social-navigationnbt a[href*="spotify.com"]:before{content:"\f1bc";}
.social-navigationnbt a[href*="stumbleupon.com"]:before{content:"\f1a4";}
.social-navigationnbt a[href*="tumblr.com"]:before{content:"\f173";}
.social-navigationnbt a[href*="twitch.tv"]:before{content:"\f1e8";}
.social-navigationnbt a[href*="twitter.com"]:before{content:"\f099";}
.social-navigationnbt a[href*="vimeo.com"]:before{content:"\f194";}
.social-navigationnbt a[href*="wordpress.com"]:before,.social-navigationnbt a[href*="wordpress.org"]:before{content:"\f19a";}
.social-navigationnbt a[href*="youtube.com"]:before{content:"\f167";}

/*--------------------------------------------------------------
## Secondary Menu
--------------------------------------------------------------*/
.secondary-navigationnbt{font-size:13px;line-height:1.845;padding:0 15px 0 0;text-align:center;}
.secondary-navigationnbt ul{display:block;margin:0;padding:3px 0;}
.secondary-navigationnbt li{display:block;float:left;margin:0;padding:0 10px;}
.secondary-navigationnbt li:first-child{padding-left:0;}
.secondary-navigationnbt li:last-child{padding-right:0;}
.secondary-navigationnbt li + li{border-left:1px solid #444;}
.secondary-navigationnbt a{display:block;position:relative;color:#ccc;}
.secondary-navigationnbt a:active,.secondary-navigationnbt a:focus,.secondary-navigationnbt a:hover{color:#fff;}
.secondary-navigationnbt a:focus{outline-color:#555;}

/*--------------------------------------------------------------
## Footer Menu
--------------------------------------------------------------*/
.footer-navigationnbt{border-top:1px solid #ddd;display:block;font-size:13px;line-height:1.845;padding:15px 0;text-align:center;}
.footer-navigationnbt > div{display:block;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-justify-content:center;justify-content:center;}
.footer-navigationnbt ul{display:block;margin:0;padding:0;}
.footer-navigationnbt li{display:block;margin:0;}
.footer-navigationnbt a{display:block;padding:3px 0;position:relative;color:#777;}
.footer-navigationnbt a:active,.footer-navigationnbt a:focus,.footer-navigationnbt a:hover{color:#d11415;}

/*--------------------------------------------------------------
## Bottom Menu
--------------------------------------------------------------*/
.bottom-navigationnbt{background:#222;border-bottom:1px solid #444;display:block;font-size:13px;line-height:1.845;padding:15px 0;text-align:center;}
.bottom-navigationnbt ul{display:block;margin:0;}
.bottom-navigationnbt li{display:block;margin:0;}
.bottom-navigationnbt a{display:block;padding:3px 0;position:relative;color:#ccc;}
.bottom-navigationnbt a:active,.bottom-navigationnbt a:focus,.bottom-navigationnbt a:hover{color:#fff;}
.bottom-navigationnbt a:focus{outline-color:#555;}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
.screen-reader-text{clip:rect(1px,1px,1px,1px);position:absolute!important;height:1px;width:1px;overflow:hidden;}
.screen-reader-text:focus{background-color:#fff;border-radius:0;box-shadow:0 0 2px 2px rgba(0,0,0,0.7);clip:auto!important;color:#21759b;display:block;font-size:14px;font-size:0.875rem;font-weight:bold;height:auto;left:5px;line-height:normal;padding:15px 23px 14px;text-decoration:none;top:5px;width:auto;z-index:100000;}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,.clear:after,.entry-content:before,.entry-content:after,.entry-metanbt:before,.entry-metanbt:after,.footer-navigationnbt > div:before,.footer-navigationnbt > div:after,.footer-widgetnbt:before,.footer-widgetnbt:after,.hentry:before,.hentry:after,.main-navigationnbt ul:before,.main-navigationnbt ul:after,.site-headernbt:before,.site-headernbt:after,.site-contentnbt:before,.site-contentnbt:after,.site-content-innernbt:before,.site-content-innernbt:after,.site-footernbt:before,.site-footernbt:after,.site-top-innernbt:before,.site-top-innernbt:after,.social-navigationnbt > div:before,.social-navigationnbt > div:after,.secondary-navigationnbt > div:before,.secondary-navigationnbt > div:after{content:"";display:table;}
.clear:after,.entry-content:after,.entry-metanbt:after,.footer-navigationnbt > div:after,.footer-widgetnbt:after,.hentry:after,.main-navigationnbt ul:after,.site-headernbt:after,.site-contentnbt:after,.site-content-innernbt:after,.site-footernbt:after,.site-top-innernbt:after,.social-navigationnbt > div:after,.secondary-navigationnbt > div:after{clear:both;}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
#secondarynbt .widget{font-size:16px;line-height:1.5;margin:0;padding:0 0 30px 0;word-break:break-word;}
#tertiarynbt .widget{font-size:16px;line-height:1.5;padding:0 0 30px 0;word-break:break-word;}
#secondarynbt .widget h2{font-size:25px;line-height:1.2;margin-bottom:30px;}
#tertiarynbt .widget h2{font-size:25px;line-height:1.2;margin-bottom:30px;}
#secondarynbt .widget select{margin-bottom:30px;max-width:100%;}
#tertiarynbt .widget select{margin-bottom:30px;max-width:100%;}
.widget-areanbt:before{background:#ddd;content:"";display:block;height:1px;left:0;margin-top:-30px;position:absolute;width:100%;}

/* Sidebar Toggle */
.sidebar-togglenbt{background:#fff;border:1px solid #ddd;border-radius:50%;color:#222;height:45px;margin-bottom:30px;margin-left:-22.5px;padding:0;position:relative;left:50%;width:45px;z-index:1;}
.sidebar-togglenbt:active,.sidebar-togglenbt:focus,.sidebar-togglenbt:hover{background:#eee;border-color:#ddd;color:#d11415;}
.sidebar-togglenbt.togglednbt{background:#222;border-color:#222;color:#fff;}
.sidebar-togglenbt.togglednbt:active,.sidebar-togglenbt.togglednbt:focus,.sidebar-togglenbt.togglednbt:hover{background:#444;border-color:#444;}
.sidebar-togglenbt:before{content:"\f141";font-size:16px;height:43px;line-height:43px;width:43px;}
.togglednbt.sidebar-togglenbt:before{content:"\f00d";}
.widget-areanbt{display:none;}
.togglednbt.widget-areanbt{display:block;}

/* Footer Widget */
.footer-widgetnbt{border-top:1px solid #ddd;padding:30px 0 0;}
.footer-widget-innernbt .widget{border-bottom:1px solid #ddd;margin-bottom:30px;}
.footer-widget-innernbt .widget:last-of-type{border-bottom:0;margin-bottom:0;}
.footer-widget-innernbt .widget:nth-of-type(4n+1){clear:left;margin-left:0;}
.footer-widget-innernbt .widget:nth-of-type(4n+4){clear:right;margin-right:0;}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Grid
--------------------------------------------------------------*/
.bottom-navigationnbt > div,.bottom-socialnbt > div,.entry-header-inner,.footer-navigationnbt > div,.footer-widget-innernbt,.search-navigation-innernbt,.site-branding,.site-content-innernbt,.site-infonbt,.site-top-innernbt{width:90%;}
.bottom-navigationnbt > div,.bottom-socialnbt > div,.entry-header-inner,.footer-navigationnbt > div,.footer-widget-innernbt,.header-image-inner,.search-navigation-innernbt,.site-branding,.site-content-innernbt,.site-infonbt,.site-top-innernbt{margin:0 auto;}
.site-mainnbt,.widget-areanbt{padding-top:30px;padding-bottom:30px;}

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
.site-headernbt{border-bottom:1px solid #ddd;padding:30px 0;position:relative;width:100%;}
.site-topnbt{background:#222;color:#ccc;display:none;margin-bottom:30px;margin-top:-30px;padding:7.5px 0;}

/* Search Navigation */
.search-navigationnbt{position:absolute;top:30px;left:0;width:100%;}
.search-navigation-innernbt{position:relative;}
.search-headernbt{min-width:30px;}
.search-togglenbt{background:transparent;border:1px solid #ddd;border-radius:50%;color:#222;height:45px;padding:0;position:relative;width:45px;z-index:2;}
.search-togglenbt:active,.search-togglenbt:focus,.search-togglenbt:hover{background:#eee;border-color:#ddd;color:#d11415;}
.search-togglenbt:before{content:"\f002";font-size:16px;height:43px;line-height:43px;width:43px;}
.togglednbt .search-togglenbt{background:#222;border-color:#222;color:#fff;}
.togglednbt .search-togglenbt:active,.togglednbt .search-togglenbt:focus,.togglednbt .search-togglenbt:hover{background:#444;border-color:#444;}
.togglednbt .search-togglenbt:before{content:"\f00d";font-size:12px;}
.search-headernbt .search-formnbt{display:none;position:absolute;right:0;z-index:1;}
.search-headernbt.togglednbt .search-formnbt{display:block;}
.search-headernbt .search-formnbt{background:#222;box-shadow:0 5px 15px rgba(0,0,0,0.075);margin-top:8px;padding:7.5px;width:100%;}
.search-headernbt.togglednbt .search-togglenbt:after{border-bottom:6px solid #222;border-left:6px solid transparent;border-right:6px solid transparent;bottom:-9px;content:"";display:block;left:50%;margin-left:-6px;position:absolute;}
.search-headernbt .search-formnbt:before{right:16px;top:16px;}
.search-headernbt .search-formnbt .search-submitnbt{right:15px;top:15px;}

/* Site Branding */
.site-branding{align-items:center;display:block;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-flex-direction:column;flex-direction:column;-webkit-justify-content:center;justify-content:center;min-height:45px;position:relative;text-align:center;word-break:break-word;z-index:1;}
.site-titlenbt{color:#d11415;font-size:25px;line-height:1.2;margin:0 60px;padding:0;}
.site-titlenbt a{color:inherit;}
.site-titlenbt a:active,.site-titlenbt a:focus,.site-titlenbt a:hover{color:#222;}
.site-descriptionnbt{color:#777;font-family:Lato,sans-serif;font-size:16px;line-height:1.875;margin:0 60px;padding:3px 0;text-transform:uppercase;}

/* Site Social */
.site-socialnbt{background:#222;border-bottom:1px solid #444;padding:7.5px 0;}
.site-social-innernbt{display:block;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-justify-content:center;justify-content:center;}

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
.site-footernbt{background:#222;padding:7.5px 0;position:relative;}
.site-infonbt{color:#ccc;font-size:13px;line-height:1.845;padding:3px 0;text-align:center;}
.site-infonbt a{color:#ccc;}
.site-infonbt a:active,.site-infonbt a:focus,.site-infonbt a:hover{color:#fff;}
.site-infonbt a:focus{outline-color:#555;}
.site-infonbt .sep{color:#444;font-size:16px;line-height:1.5;vertical-align:bottom;}
.site-infonbt .sep:hover{-webkit-transform:rotate(360deg);transform:rotate(360deg);}

/*--------------------------------------------------------------
## Posts & Pages
--------------------------------------------------------------*/

.hentry{margin:0 0 30px;}
.blognbt .hentry{border-top:1px solid #eee;padding-top:30px;}
.blognbt .hentry:first-of-type{border-top:0;margin-top:-30px;}
.bylinenbt img{border-radius:50%;float:left;margin-right:5px;}
.entry-content{margin:0 0 10px 0;}
.more-linknbt{white-space:nowrap;}

/* Entry Header */
.blognbt .hentry .entry-title{font-size:25px;line-height:1.2;margin:0 0 15px 0;}
.blognbt .hentry.type-page .entry-title{margin:0;}

/* Entry Meta */
.entry-metanbt{font-family:Lato,sans-serif;font-size:13px;line-height:1.54;padding:5px 0;text-transform:uppercase;}
.content-areanbt .entry-metanbt,.content-areanbt .entry-metanbt a{color:#777;}
.content-areanbt .entry-metanbt a:active,.content-areanbt .entry-metanbt a:focus,.content-areanbt .entry-metanbt a:hover{color:#222;}

/* Entry Footer */
.entry-footer{color:#777;display:block;float:left;font-family:Lato,sans-serif;font-size:13px;font-weight:bold;line-height:1.54;margin-bottom:30px;text-transform:uppercase;width:100%;}
.page .entry-footer{float:none;margin-bottom:0;width:100%;}
.entry-footer a{color:#777;}
.entry-footer a:active,.entry-footer a:focus,.entry-footer a:hover{color:#222;}
.entry-footer .bylinenbt,.entry-footer .cat-linksnbt,.entry-footer .comments-linknbt,.entry-footer .edit-linknbt,.entry-footer .posted-onnbt{border-top:1px solid #eee;display:block;padding:5px 0;}
.entry-footer > span:last-of-type{border-bottom:1px solid #eee;}
.entry-footer .cat-linksnbt,.entry-footer .comments-linknbt{float:none;}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
embed,iframe,object,video,.fb_iframe_widget,.video-player,.wp-audio-shortcode{margin-bottom:30px;max-width:100%;}

/*--------------------------------------------------------------
# Transitions
--------------------------------------------------------------*/
button,input,textarea,.search-formnbt:before,.sitenbt,.site-infonbt .sep{transition:all 350ms ease-in-out;}
a{transition:color 350ms ease-in-out,background-color 350ms ease-in-out;}

/*--------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## x >= 600px
--------------------------------------------------------------*/
@media screen and (min-width: 600px) {

.site-logo-link{max-width:580px;}
.menu-togglenbt{height:60px;margin-top:-30px;width:60px;}
.menu-togglenbt:before{font-size:16px;height:58px;line-height:58px;width:58%;}
.main-navigationnbt.togglednbt > div:before{right:24px;}
.sidebar-togglenbt{height:60px;margin-bottom:60px;margin-left:-30px;width:60px;}
.sidebar-togglenbt:before{height:58px;line-height:58px;width:58px;}
#secondarynbt .widget{padding-bottom:30px;}
#tertiarynbt .widget{padding-bottom:30px;}
.footer-widgetnbt{padding-top:60px;}
.footer-widget-innernbt .widget{border-bottom:0;margin-bottom:0;}
.site-mainnbt,.widget-areanbt{padding-top:60px;}
.widget-areanbt:before{margin-top:-60px;}
.site-branding{min-height:60px;}
.site-descriptionnbt,.site-titlenbt{margin:0 90px;}
.site-titlenbt{font-size:31px;line-height:1.452;}
.search-togglenbt{height:60px;width:60px;}
.search-togglenbt:before{font-size:24px;height:58px;line-height:58px;width:58px;}
.togglednbt .search-togglenbt:before{font-size:16px;}
.blognbt .hentry{margin-bottom:60px;padding-top:60px;}
.blognbt .hentry:first-of-type{margin-top:-60px;}
	
}

/*--------------------------------------------------------------
## x >= 768px
--------------------------------------------------------------*/
@media screen and (min-width: 768px) {

body{font-size:18px;}
.bottom-navigationnbt > div,.bottom-socialnbt > div,.entry-header-inner,.footer-navigationnbt > div,.footer-widget-innernbt,.search-navigation-innernbt,.site-branding,.site-content-innernbt,.site-infonbt,.site-top-innernbt{width:648px;}
.footer-widget-innernbt .widget{width:294px;}
.footer-widget-innernbt .widget{float:left;}
.footer-widget-innernbt .widget{margin-left:30px;margin-right:30px;}
.footer-widget-innernbt .widget:nth-of-type(even){clear:right;margin-right:0;}
.footer-widget-innernbt .widget:nth-of-type(odd){clear:left;margin-left:0;}
.site-titlenbt{font-size:49px;line-height:1.225;}
	
}

/*--------------------------------------------------------------
## x >= 840px
--------------------------------------------------------------*/
@media screen and (min-width: 840px) {

.bottom-navigationnbt > div,.bottom-socialnbt > div,.entry-header-inner,.footer-navigationnbt > div,.footer-widget-innernbt,.search-navigation-innernbt,.site-branding,.site-content-innernbt,.site-infonbt,.site-top-innernbt{width:720px;}
.footer-widget-innernbt .widget{width:330px;}
	
}

/*--------------------------------------------------------------
## x >= 960px
--------------------------------------------------------------*/
@media screen and (min-width: 960px) {

.menu-togglenbt{display:none;}
.main-navigationnbt{float:left;}
.main-navigationnbt{z-index:1;}
.main-navigationnbt > div{display:block;margin:0 auto;width:auto;}
.main-navigationnbt.togglednbt > div{background:#fff;border:0;box-shadow:none;position:relative;top:auto;margin-top:0;width:100%;left:auto;padding:0;z-index:9998;}
.main-navigationnbt > div:before{background:#fff;content:"";display:block;height:100%;position:absolute;width:1px;z-index:1;}
.main-navigationnbt > div > ul{border:0;padding:0;}
.main-navigationnbt > div > ul > li:last-child{border-bottom:0;}
.main-navigationnbt ul{border-bottom:0;}
.main-navigationnbt ul.togglednbt{border-bottom:0;display:none;margin-bottom:0;margin-top:0;padding-left:0;}
.main-navigationnbt li{border-top:0;float:left;padding:0 15px;}
.main-navigationnbt .nav-menu > li + li{border-left:1px solid #eee;}
.main-navigationnbt .menu-item-has-children{padding-right:38.5px;position:relative;}
.main-navigationnbt .page_item_has_children > a,.main-navigationnbt .menu-item-has-children > a{padding-right:0;position:static;}
.main-navigationnbt .menu-item-has-children > a:after{color:#d11415;content:"\f078";font-size:16px;height:16px;line-height:1;margin-top:-8px;position:absolute;top:50%;right:15px;width:16px;}
.main-navigationnbt ul ul .menu-item-has-children > a:after{-webkit-transform:rotate(-90deg);transform:rotate(-90deg);}
.main-navigationnbt ul ul{background:#fff;border:1px solid #ddd;box-shadow:0 5px 15px rgba(0,0,0,0.075);float:left;padding:15px 0;position:absolute;top:1.875em;left:-999em;z-index:99999;}
.main-navigationnbt ul ul ul{left:-999em;top:-16px;}
.main-navigationnbt ul ul a{width:208px;}
.main-navigationnbt ul ul li{background:#fff;}
.main-navigationnbt ul li:hover > ul,.main-navigationnbt ul .focus > ul{display:block;left:auto;margin-left:-16px;}
.main-navigationnbt ul ul li:hover > ul,.main-navigationnbt ul ul .focus > ul{left:100%;}
.bottom-socialnbt{display:none;}
.social-navigationnbt{border-bottom:0;float:right;padding-bottom:0;padding-left:15px;padding-top:0;}
.social-navigationnbt a:before{font-size:16px;}
.secondary-navigationnbt{display:block;float:left;}
.bottom-navigationnbt{display:none;}
.footer-navigationnbt ul{padding:3px 0;}
.footer-navigationnbt li{border-top:0;float:left;padding:0 10px;}
.footer-navigationnbt li:first-child{padding-left:0;}
.footer-navigationnbt li:last-child{padding-right:0;}
.footer-navigationnbt li + li{border-left:1px solid #eee;}
.footer-navigationnbt a{padding:0;}
.sidebar-togglenbt{display:none;}
.widget-areanbt{display:block;}
.entry-header-inner,.footer-navigationnbt > div,.footer-widget-innernbt,.header-image-inner,.search-navigation-innernbt,.site-branding,.site-content-innernbt,.site-infonbt,.site-top-innernbt{width:840px;}
.site-mainnbt{width:615px;}
.widget-areanbt{width:226px;}
.footer-widget-innernbt .widget{width:165px;}
.site-mainnbt{border-right:1px solid #ddd;float:left;padding-right:60px;}
.widget-areanbt{border-left:1px solid #ddd;float:right;margin-left:-1px;padding-left:60px;padding-top:60px;}
.widget-areanbt:before{display:none;}
.footer-widget-innernbt .widget:nth-of-type(even),.footer-widget-innernbt .widget:nth-of-type(odd){clear:none;margin-left:30px;margin-right:30px;}
.footer-widget-innernbt .widget:nth-of-type(4n+1){clear:left;margin-left:0;}
.footer-widget-innernbt .widget:nth-of-type(4n+4){clear:right;margin-right:0;}
.site-topnbt{display:block;}
.site-branding{min-height:0;}
.site-descriptionnbt,.site-titlenbt{padding-left:0;padding-right:0;}
.search-navigationnbt{border-top:1px solid #ddd;margin-bottom:-15px;margin-top:30px;padding-top:15px;position:relative;top:auto;}
.search-navigation-innernbt{align-items:center;-webkit-align-items:center;display:block;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-justify-content:center;justify-content:center;}
.search-togglenbt{height:30px;width:30px;z-index:0;}
.search-togglenbt:before{font-size:16px;height:28px;line-height:28px;width:28px;}
.search-headernbt.togglednbt .search-togglenbt:before{font-size:12px;}
.header-image{border-top:1px solid #ddd;margin:30px 0 -15px;padding:30px 0 15px;}
	
}

/*--------------------------------------------------------------
## x >= 1080px
--------------------------------------------------------------*/
@media screen and (min-width: 1080px) {

.entry-header-inner,.footer-navigationnbt > div,.footer-widget-innernbt,.header-image-inner,.search-navigation-innernbt,.site-branding,.site-content-innernbt,.site-infonbt,.site-top-innernbt{width:960px;}
.site-mainnbt{width:705px;}
.widget-areanbt{width:256px;}
.footer-widget-innernbt .widget{width:195px;}
	
}

/*--------------------------------------------------------------
## x >= 1380px
--------------------------------------------------------------*/
@media screen and (min-width: 1380px) {

.entry-header-inner,.footer-navigationnbt > div,.footer-widget-innernbt,.header-image-inner,.search-navigation-innernbt,.site-branding,.site-content-innernbt,.site-infonbt,.site-top-innernbt{width:1260px;}
.site-mainnbt{width:930px;}
.widget-areanbt{width:331px;}
.entry-footer,.footer-widget-innernbt .widget{width:270px;}

}

h2.date-header{margin:10px 0;display:none;}
.main .widget{margin:0 0 5px;padding:0 0 2px;}
.main .Blog{border-bottom-width:0;}
#header .description{}
#comments{padding:10px;margin-bottom:20px;}
#comments h4{font-size:22px;margin-bottom:10px;}
.deleted-comment{font-style:italic;color:gray;}
#blog-pager-newer-link{float:left;}
#blog-pager-older-link{float:right;}
#blog-pager{text-align:center;padding:5px;margin:10px 0;}
.feed-links{clear:both;}
.comment-form{}
#navbar-iframe{height:0;visibility:hidden;display:none;}
.author-profile{background:#f6f6f6;border:1px solid #eee;margin:10px 0 10px 0;padding:8px;overflow:hidden;}
.author-profile img{border:1px solid #ddd;float:left;margin-right:10px;}
.post-iconspbt{margin:5px 0 0 0;padding:0;}
.post-locationpbt{margin:5px 0;padding:0;}
.related-postbwrap{margin:10px auto 0;}
.related-postbwrap h4{font-weight:bold;margin:0 0 .5em;}
.related-post-style-2,.related-post-style-2 li{list-style:none;margin:0;padding:0;}
.related-post-style-2 li{border-top:1px solid #eee;overflow:hidden;padding:10px 0;}
.related-post-style-2 li:first-child{border-top:none;}
.related-post-style-2 .related-post-item-thumbnail{width:80px;height:80px;max-width:none;max-height:none;background-color:transparent;border:none;float:left;margin:2px 10px 0 0;padding:0;}
.related-post-style-2 .related-post-item-title{font-weight:bold;font-size:100%;}
.related-post-style-2 .related-post-item-summary{display:block;}
.related-post-style-3,.related-post-style-3 li{margin:0;padding:0;list-style:none;word-wrap:break-word;overflow:hidden;}
.related-post-style-3 .related-post-item{display:block;float:left;width:160px;height:auto;padding:10px;border-left:0 solid #eee;margin-bottom:-989px;padding-bottom:999px;}
.related-post-style-3 .related-post-item:first-child{border-left:none;}
.related-post-style-3 .related-post-item-thumbnail{display:block;margin:0 0 10px;width:160px;height:auto;max-width:100%;max-height:none;background-color:transparent;border:none;padding:0;}
.related-post-style-3 .related-post-item-title{font-weight:normal;text-decoration:none;}
.pbtsharethisbutt{overflow:hidden;padding:5px 0 0;margin:0;text-transform:none;float:left;}
.pbtsharethisbutt a {padding-left:5px;padding-right:5px;}
.separator a[style="margin-left: 1em; margin-right: 1em;"] {margin-left: auto!important;margin-right: auto!important;}
.separator a[style="clear: left; float: left; margin-bottom: 1em; margin-right: 1em;"] {clear: none !important; float: none !important; margin-bottom: 0em !important; margin-right: 0em !important;}
.separator a[style="clear: left; float: left; margin-bottom: 1em; margin-right: 1em;"] img {float: left !important; margin: 0px 10px 10px 0px;}
.separator a[style="clear: right; float: right; margin-bottom: 1em; margin-left: 1em;"] {clear: none !important; float: none !important; margin-bottom: 0em !important; margin-left: 0em !important;}
.separator a[style="clear: right; float: right; margin-bottom: 1em; margin-left: 1em;"] img {float: right !important; margin: 0px 0px 10px 10px;}
.PopularPosts .widget-content ul li{padding:6px 0;}
.reaction-buttons table{border:none;margin-bottom:5px;}
.reaction-buttons table,.reaction-buttons td{border:none!important;}
.pbtthumbimg{float:left;margin:0 10px 5px 0;padding:4px;border:0 solid #eee;background:none;width:200px;height:auto;}
.status-msg-wrap{font-size:110%;width:90%;margin:10px auto 40px;position:relative;}